// variable
$h-nav: 61px;
$h-nav-md: 93px;

html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.container {
  &.fluid-xl {
    max-width: 1262px;
  }
}

// header
#header {
  position: sticky;
  top: 0;
  z-index: 99;
  @include padding(10px, 0);
  max-width: 100vw;
  height: $h-nav;
  @include media-breakpoint-up(md) {
    height: $h-nav-md;
  }
  // 相鄰的下一區塊位置調整
  // & + * {
  //   margin-top: $h-nav;
  //   @include media-breakpoint-up(md) {
  //     margin-top: $h-nav-md;
  //   }
  // }
  .container {
    @include media-breakpoint-down(sm) {
      @include padding(null, 18px);
    }
  }
  .navbar {
    &-logo {
      display: flex;
    }
    &-brand {
      @include margin(null, 0, null, 12px);
      
      img {
        height: 29px;
      }
      @include media-breakpoint-up(md) {
        @include margin(null, null, null, 1.5rem);
        img {
          height: 48px;
        }
      }
    }
    &-collapse {
      position: absolute;
      top: $h-nav;
      left: 100%;
      z-index: 999;
      width: 100%;
      background: $white linear-gradient(to bottom ,#0001 0% ,#fff 3%);
      padding-top: 20px;
      min-height: calc(100vh - #{$h-nav});
      transition: left .35s ease;
      &:not(.show) {
        display: block;
        left: -100%;
      }
      &.collapse {
        left: -100%;
      }
      &.collapsing,
      &.show {
        left: 0;
      } 
      .dropdown {
        &-menu {
          border: unset;
          border-radius: 0;
        }
      }
      @include media-breakpoint-up(md) {
        top: $h-nav-md;
        min-height: calc(100vh - #{$h-nav-md});
  
      }
    }
    &-toggler {
      border-width: 0;
      @include padding(0, 3px);
      
      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
      .menu {
        @include size(22px, 30px);
        position: relative;
        @include media-breakpoint-up(md) {
          @include size(36px, 50px);
        }
      }
      .line {
        position: absolute;
        background: $dark;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
        @include size(18px, 2px);
        @include media-breakpoint-up(md) {
          @include size(27px, 2.5px);
        }
      }
      .top {
        transform: rotate(45deg);
        top: 48%;
        left: 18%;
      }
      .middle {
        transform: translateX(-50vw);
        top: 45%;
        left: 18%;
      }
      .bottom  {
        transform: rotate(-45deg);
        top: 48%;
        left: 18%;
      }
      &.collapsed {
        .top {
          transform: unset;
          top: 25%;
          left: 18%;
        }
        .middle {
          transform: unset;
          top: 45%;
          left: 18%;
        }
        .bottom {
          transform: unset;
          top: 65%;
          left: 18%;
        }
      }
    }
    &-nav {
      @include padding(null, 24px);
      @include media-breakpoint-up(md) {
        flex-direction: row;
        flex-wrap: wrap;
        .nav-item {
          flex: 0 0 25%;
          max-width: 25%;
          .dropdown-menu {
            display: block;
        }
        }
      }
    }
    &-search {
      max-width: 100%;
      @include media-breakpoint-up(md) {
        max-width: 400px;
      }
      .input-group {
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          z-index: 100; // override header z-index
          left: 112px;
          display: block;
          width: 1px;
          height: 24px;
          background-color: $light;
          @include media-breakpoint-up(md) {
            left: 120px;
          }
        }
      }
      .custom-select {
        width: 120px;
        flex: 0 1 auto;
        border-right-width: 0;
        // @include media-breakpoint-up(md) {
        //   width: 118px;
        // }
      }
      input {
        border-right-width: 0;
        border-left-width: 0;
        @include padding(null, 8px);        
        @include media-breakpoint-up(md) {
          @include padding(null, 12px);
        }
        &::placeholder {
          color: #B7B7B7;
        }
        // search input 的清除叉叉
        &[type="search"]::-webkit-search-cancel-button {
          appearance: none;
          height: 1em;
          width: 1em;
          border-radius: 50em;
          background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/light/times.svg) 50% 50% / contain no-repeat;
        }
        @include media-breakpoint-down(md) {
          transition: width 0.5s;
          width: 0;
          &::placeholder {
            color: transparent;
          }
        }
      }
      .input-group-append {
      }
      button {
        @include color($white, null);
        @include padding(6px, 12px);
        border-left-width: 0;
        &[type="submit"]{

        }
        &[type="button"] {
          // max-width: calc(100% - 122px);
          // padding-left: 68px;
        }
      }
      @media (max-width: 359px) {
        .input-group {
          flex-wrap: nowrap;
          &::before {
            left: 90px;
          }
        }  
        .custom-select {
          width: 90px;
          max-width: 122px;
        }
      }
      @include media-breakpoint-down(md) {
        &.active {
          max-width: 100%;
          margin: auto;
          input {
            width: 1%;
            &::placeholder {
              @include media-breakpoint-down(md) {
                color: #B7B7B7;
              }
            }
          }
        }
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      @include media-breakpoint-between(md, lg) {
        display: none;
      }
      button {
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.01em;
        
        @include media-breakpoint-down(sm) {
          @include padding(7px, 15px);
        }
        @include media-breakpoint-up(md) {
          line-height: lineHeight(16px, 22px);  
        }

        &:nth-child(2) {
          @include button-outline-variant($secondary);
        }
        &:nth-child(3) {
          @include button-variant($secondary, $white);
          color: $white;
        }
        &:nth-child(4) {
          @include button-variant($success, $white);
          margin-left: 16px;
          @media (max-width: 359px) {
            margin-left: 8px;
            font-size: 12px;
            width: 60px;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &.hide {
      // top: -60px;
      transform: all 1s ease-in;
      & > .container {
        justify-content: center;
      }
      .hide {
        display: none;
        transform: translateY(-100px);
        & > * {
          display: none;
        }
      }
    }
  }
}

// footer
footer {

}

// scrollTop
.scrollTop {
  display: none; // 初始是不見的，之後的顯示和隱藏由 script 控制
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  &:hover {
    transition: .5s;
    filter: drop-shadow(2px 2px 5px darken($color: $info, $amount: 1));
  }
  img {
    max-width: 70%;
  }
  @include media-breakpoint-up(sm) {
    padding: 1rem;
    img {
      max-width: 100%;
    }
  }
}
