// variable
$h-nav: 61px;
$h-nav-md: 93px;

html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.container {
  &.fluid-xl {
    max-width: 1242px;
  }
  }

// header
#header {
  @include padding(10px, 0);
  max-width: 100vw;
  height: $h-nav;
  @include media-breakpoint-up(md) {
    height: $h-nav-md;
  }
  // 相鄰的下一區塊位置調整
  & + * {
    margin-top: $h-nav;
    @include media-breakpoint-up(md) {
      margin-top: $h-nav-md;
    }
  }
  .navbar {
    &-brand {
      img {
        height: 29px;
        @include media-breakpoint-up(md) {
          height: 48px;
        }
      }
    }
    &-collapse {
      position: absolute;
      top: $h-nav;
      left: 100%;
      width: 100%;
      background: $white linear-gradient(to bottom ,#0001 0% ,#fff 3%);
      padding-top: 20px;
      min-height: calc(100vh - #{$h-nav});
      transition: left .35s ease;
      &:not(.show) {
        display: block;
        left: -100%;
      }
      &.collapse {
        left: -100%;
      }
      &.collapsing,
      &.show {
        left: 0;
      }
      .dropdown {
        &-menu {
          border: unset;
          border-radius: 0;
        }
      }
      @include media-breakpoint-up(md) {

      }
    }
    &-toggler {
      border-width: 0;
      @include padding(0, 3px);

      .menu {
        @include size(30px);
        position: relative;
        @include media-breakpoint-up(md) {
          @include size(50px);
        }
      }
      .line {
        position: absolute;
        background: $dark;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.3s;
        @include size(18px, 2px);
        @include media-breakpoint-up(md) {
          @include size(33px, 3.5px);
        }
      }
      .top {
        transform: rotate(45deg);
        top: 48%;
        left: 18%;
      }
      .middle {
        transform: translateX(-200px);
        top: 45%;
        left: 18%;
      }
      .bottom  {
        transform: rotate(-45deg);
        top: 48%;
        left: 18%;
      }
      &.collapsed {
        .top {
          transform: unset;
          top: 25%;
          left: 18%;
        }
        .middle {
          transform: unset;
          top: 45%;
          left: 18%;
        }
        .bottom {
          transform: unset;
          top: 65%;
          left: 18%;
        }
      }
    }
    &-nav {}
    &-search {
      .input-group {
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          z-index: 100; // override header z-index
          left: 122px;
          display: block;
          width: 1px;
          height: 24px;
          background-color: $light;
        }
      }
      .custom-select {
        width: 122px;
        flex: 0 1 auto;
        border-right-width: 0;
      }
      .form-control {
        border-right-width: 0;
        border-left-width: 0;
        &::placeholder {
          color: #B7B7B7;
        }
      }
      .input-group-append {
      }
      button[type="submit"] {
        @include padding(6px, 12px);
        border-left-width: 0;
      }
    }
    &-btn {
      display: flex;
      align-items: center;
      button {
        font-weight: 500;
        @include media-breakpoint-up(md) {
          line-height: 1.5;
        }

        &:nth-child(2) {
          @include button-outline-variant($secondary);
        }
        &:nth-child(3) {
          @include button-variant($secondary, $white);
        }
        &:nth-child(4) {
          @include button-variant($success, $white);
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &.hide {
      // top: -60px;
      transform: all 1s ease-in;
      .hide {
        display: none;
        transform: translateY(-100px);
      }
    }
  }
}

// footer
footer {

}

// scrollTop
.scrollTop {
  display: none; // 初始是不見的，之後的顯示和隱藏由 script 控制
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border-radius: 50%;
  &:hover {
    transition: .5s;
    filter: drop-shadow(2px 2px 5px darken($color: $info, $amount: 1));
  }
  img {
    max-width: 70%;
  }
  @include media-breakpoint-up(sm) {
    padding: 1rem;
    img {
      max-width: 100%;
    }
  }
}
