/* 首頁 */

:root {
  --swiper-theme-color: #fff;
  --swiper-navigation-size: 44px;

  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.6;
  --swiper-pagination-bottom: 16px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  // --swiper-pagination-bullet-vertical-gap: 6px;
  @include media-breakpoint-up(md) {
    // --swiper-pagination-progressbar-size: 32px;
    --swiper-pagination-bullet-width: 32px;
    --swiper-pagination-bullet-border-radius: 4px;
  }
}

.swiperBanner {
  @include color(#F7F7F7, null);
  @include padding(32px, null);
  margin-bottom: 40px;
  @include media-breakpoint-up(md) {
    @include color(#F9F8F7, null);
    @include padding(64px, null);
    margin-bottom: 64px;
  }
}

.swiper {
  &.swiper-cards {
    width: 87%;
    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }
  }
  &-slide {
    border-radius: 12px;
    img {
      aspect-ratio: 768/432 ;
    }
  }

  // &-card-content {
  //   position: absolute;
  //   bottom: 20px;
  //   left: 20px;
  //   right: 20px;
  //   color: #fff;
  //   z-index: 10;
  // }

  // &-pagination {
  //   position: absolute;
  //   bottom: 10px;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  &-button-prev::after {
    content: url(../image/arrow-left-line.svg); 
  }
  
  &-button-next::after {
    content: url(../image/arrow-right-line.svg); 
  }
}

.card {
  &-info {
    .badge {
      @include padding(1px, 9px);
      margin-right: 6px;
      background-color: rgba($dark, 0.6);
      
      &::before {
        content: url('../image/badge-arrow.svg');
        @include padding(3px);
        
      }
    }
    span {
      font-size: 14px;
      line-height: lineHeight(14px, 20px);  
      font-weight: 400;
      letter-spacing: 1px;

      &:not(.badge) {
        padding: 6px;
        &::before {
          content: '#';
        }
      }
    }
  }
  &-title {
    font-weight: 700;
    font-size: 28px;
    line-height: lineHeight(28px, 42px);  
    letter-spacing: 0.01em;
    text-align: left;
    // 限 3 行
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    @include padding(16px, null, null, null);
    @include margin(null, null, 48px, null);
    @include media-breakpoint-up(md) {
      font-size: 32px;
      line-height: lineHeight(32px, 48px);
      margin-bottom: 96px;
    }
  }
  &-link {
    align-self: center;
  }
}